$header-grey-color:#c0c0c0;
$social-grey-colors:#636363;
$title-red:#e01b23;
$border-color:#959595;
$title-gray:#636363;
$title-fade: #bdbdbd;
$grey-color: #e1e1e1;

$input-border:#9b9b9b;
$input-border2:#9a9a9a;

$robotoMedium: 'robotomedium';
$robotoLight: 'robotolight';
$robotoBold: 'robotobold';
$robotoRegular: 'robotoregular';

$popup-bg-color:#ececec;
$popup-wrapper:#d7d7d7;
$popup-font-color:#5d5d5d;
$popup-subtitle-color:#363636;
